// Body
$body-bg: #f8fafc;

$bg-color-light: #d7dff4;
$bg-color-blue: #7eb7b3;
$bg-color-blue-hover: #099288;
$bg-color-dark: #111111;
$bg-color-dark1: #1f232d;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color-light: #eaeaea;
$color-indigo: #5500f2;
$color-indigo-hover: #5900ff;
$color-lila: #ad00ed;
$color-lila-hover: #9d00ff;

$color-ok: #4bb133;
$color-warning: #b18333;
$color-alarm: #b13333;


$text-white: #ffffff;
$text-color: #e1e1e1;
$text-color1: #414c63;
$text-color-dark: #2d3c4e;

// Break-points

$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$bp-desktop-hd: 1800px;
$bp-desktop-big: 1480px;
$bp-desktop: 1200px;
$bp-desktop-small: 1080px;
$bp-tablets-big: 900px;
$bp-tablets: 768px;
$bp-phones: 480px;

// Bootstrap colors

$bs-blue: #007bff;
$bs-indigo: #6610f2;
$bs-purple: #6f42c1;
$bs-pink: #e83e8c;
$bs-red: #dc3545;
$bs-orange: #fd7e14;
$bs-yellow: #ffc107;
$bs-green: #28a745;
$bs-teal: #20c997;
$bs-cyan: #17a2b8;
$bs-white: #fff;
$bs-gray: #6c757d;
$bs-gray-dark: #343a40;
$bs-primary: #007bff;
$bs-secondary: #6c757d;
$bs-success: #28a745;
$bs-info: #17a2b8;
$bs-warning: #ffc107;
$bs-danger: #dc3545;
$bs-light: #f8f9fa;
$bs-dark: #343a40;
$bs-breakpoint-xs: 0;
$bs-breakpoint-sm: 576px;
$bs-breakpoint-md: 768px;
$bs-breakpoint-lg: 992px;
$bs-breakpoint-xl: 1200px;
$bs-font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bs-font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
