.contact {
    box-sizing: border-box;
    background: white;
    min-height: 40vh;
    padding: 100px 0 60px;
    color: $text-color-dark;
    border-bottom: $bg-color-blue solid 10px;

}

.contact__title {
    max-width: 720px;
}
