*:focus {
    outline: $bg-color-blue-hover 1px dashed;
    outline-offset: 3px;
}
//- Overlay ====================  LOGIN  ===
.login {
    height: 100vh;
    //display: grid;
    background: url('images/Background.jpg') 50% 50% / cover;
    color: $text-color;
    position: relative;


    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: linear-gradient(to right, rgba(0,0,0, 0.40), rgba(0,0,0, 0.20));
    }
}

.login__overlay {
    /*display: none;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: rgba(#2d3c4e, 0.8);
    height: 100vh;
    position: fixed;
    //position: absolute; //- временно
    left: 0;
    top: 0;
    z-index: 100;
}

.login__modal {
    display: block;
    margin: 0 auto;
    width: 560px;
    min-height: 517px;
    background: rgba($bg-color-dark, 0.8);
}

//- Overlay ====================== FORM ===
.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 75px;
    position: relative;
}

.login-form__title {
    display: block;
    margin: 0 0 10px;
    padding: 0;
    font-size: 32px;
    color: $text-white;
    line-height: 60px;
    font-weight: 300;
    text-align: center;
}

.login-form__list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.login-form__item {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 2px solid $text-color;
    color: $text-color;

    &:hover,
    &:focus {
        border-bottom: 2px solid $bg-color-blue-hover;
    }

    &--login {


        &:hover,
        &:focus {
            background-image: svg-load("user.svg", fill="$color-lila-hover", opacity=0.6);
        }
    }

    &--pass {
        background-image: svg-load("link.svg", fill="$text-color", opacity=0.4);

        &:hover,
        &:focus {
            background-image: svg-load("link.svg", fill="$color-lila-hover", opacity=0.5);
        }
    }
}

.login-form__label {
    display: block;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    opacity: 0.3;
    padding: 10px 0 0;

    &--check {
        display: block;
        padding: 0;
        cursor: pointer;
    }
}

.login-form__input-block {
    display: flex;

    &:hover {
        .login-form__user-icon,
        .login-form__envelope-icon,
        .login-form__link-icon {
            fill: $bg-color-blue-hover;
        }
        .login-form__input {
            color: $bg-color-blue-hover;
        }
    }
}

.login-form__user-icon,
.login-form__envelope-icon,
.login-form__link-icon {
    fill: $text-color;
    padding: 15px 20px 0 0;
}


.login-form__input {
    display: block;
    box-sizing: border-box;
    padding: 5px 5px 5px 0;
    width: 100%;
    font-size: 18px;
    line-height: 48px;
    border: none;
    color: $text-color;
    background: transparent;

    &--check {
        display: flex;
        width: auto;
        margin-right: 15px;
        padding: 0;
    }

    //&:hover,
    //&focus {
    //    color: $bg-color-blue-hover;
    //}

    &::placeholder {
        color: currentColor;
        opacity: 0.5;
    }
}
.login-form__checkbox,
.login-form__forgot {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    cursor: pointer;

    a {
        color: $text-color;
        text-transform: none;
        display: block;
        margin-left: auto;
    }

    &:hover {
        color: $bg-color-blue-hover;
        cursor: pointer;

        a {
            color: $bg-color-blue-hover
        }
    }
}

.login-form__forgot {
    text-transform: none;
}

.login-form__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

//- Overlay ====================== BTN ===
.login-form__btn {
    border: none;
    margin-top: 50px;
    color: white;
    background: $bg-color-blue linear-gradient(to right, $bg-color-blue-hover, $bg-color-blue 80%);
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    text-transform: uppercase;
    min-width: 250px;
    padding: 10px 10px;

    &:hover {
        background-image: linear-gradient(to right, #7eb7b3, #099288, #7eb7b3);
    }

    &:active {
        opacity: 0.8;
    }
}

.login-form__close {
    display: none;
    //display: block;
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    border: none;
    background: svg-load("cross.svg", fill="$text-color") center center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;

    &:hover,
    &:focus {
        background: svg-load("cross.svg", fill="$color-lila-hover") center center no-repeat;
        background-size: 20px 20px;
    }

    &:active {
        opacity: 0.5;
    }
}

.invalid-feedback {
    display: block;
    text-align: right;
    color: red;
    font-family: "Cormorant Unicase", serif;
    font-weight: 100;
}

.is-invalid {
    border: red 1px solid;
}
